[Desktop Entry]
Name=MirvDesk
NoDisplay=true
MimeType=x-scheme-handler/mirvdesk;
TryExec=mirvdesk
Exec=mirvdesk %u
Icon=mirvdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=mirvdesk
